<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Do you get money from any of these? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <span class="form-hint form-group-margin" id="question-hint">
            People who live with you
        </span>
        <h1 class="heading-large">
            Do you have any children living with you who you support financially?
        </h1>
        <p>
            They must be either:
        </p>
        <ul class="list list-bullet">
            <li>
                under 16
            </li>
            <li>
                16 to 19 and in unpaid training or full-time education (studying for a qualification no higher than
                an A level or equivalent)
            </li>
        </ul>
        <div class="form-group">
            <fieldset class="inline">
                <legend tabindex="-1" class="visuallyhidden">
                    <span>
                        Do you have any children living with you who you support financially?
                    </span>
                </legend>
                <div class="multiple-choice">
                    <input data-target="othersinhome-supportchildrenfinancially-true-nested"
                        id="othersinhome-supportchildrenfinancially-true" type="radio" value="true"
                        name="othersInHome.supportChildrenFinancially">
                    <label id="label-radio-yes-true" for="othersinhome-supportchildrenfinancially-true">
                        Yes
                    </label>
                </div>
                <div class="multiple-choice">
                    <input data-target="othersinhome-supportchildrenfinancially-false-nested"
                        id="othersinhome-supportchildrenfinancially-false" type="radio" value="false"
                        name="othersInHome.supportChildrenFinancially">
                    <label id="label-radio-no-false" for="othersinhome-supportchildrenfinancially-false">
                        No
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="form-item-wrapper">
            <div class="form-group">
                <a href="/about-your-home/check-your-answers-people-who-live-with-you" class="button" id="next-button">Next</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}