<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
Check your answers - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form>
        <fieldset class="inline">
          <legend>
            <h1 class="heading-large" id="question-heading">
              <span class="heading-secondary">Apply for help with NHS costs</span>
              Check your answers
            </h1>
          </legend>
          <h2 class="heading-medium">
            Where you live
          </h2>
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Been in hospital over a year
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <span>No</span>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                  <span class="change">
                    <a href="/where-you-live/hospital">
                      Change
                      <span class="visuallyhidden">
                        hospital stay
                      </span>
                    </a>
                  </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Property type
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <span id="content-beneficiary-education-nameofcourse">
                <b>A property I own</b>
                <div>This could be with or without a mortgage.</div>
              </span>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/property-type">Change
                    <span class="visuallyhidden">
                      property type
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Pay a mortgage
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <div class="form-answer">
                <span id="beneficiary-education-isoverseasstudent-true">
                  Yes
                </span>
              </div>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/mortgage">Change
                    <span class="visuallyhidden">
                      mortgage
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Mortgage paid
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <div class="form-answer">
                <span id="beneficiary-education-threeterms-true">
                  Every month
                </span>
              </div>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/often-mortgage">Change
                    <span class="visuallyhidden">
                      mortgage pay time
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Mortgage amount
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              £300
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/mortgage-amount">Change
                    <span class="visuallyhidden">
                      mortgage amount
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Have a loan secured on your home
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              No
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/home-loan">Change
                    <span class="visuallyhidden">
                      date last worked
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Pay a service charge
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              No
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/pay-service-charge">Change
                    <span class="visuallyhidden">
                      service charge
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Pay ground rent
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <div class="form-answer">
                <span id="beneficiary-education-infinaloronlyyear-true">
                  No
                </span>
              </div>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/ground-rent">Change
                    <span class="visuallyhidden">
                      another job
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Have a loan to make your home accessible
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <span>No</span>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                  <span class="change">
                    <a href="/where-you-live/acessible-loan">
                      Change
                      <span class="visuallyhidden">
                        accessibility loan
                      </span>
                    </a>
                  </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
          <div class="grid-row">
            <div class="column-one-third">
              <h2 class="heading-small">
                Pay Council Tax
              </h2>
            </div>
            <div class="column-answer column-one-third section">
              <span class="visuallyhidden">Answer</span>
              <span>
                No
              </span>
            </div>
            <div class="column-change column-one-third section">
              <div class="group">
                <span class="change">
                  <a href="/where-you-live/council-tax">Change
                    <span class="visuallyhidden">
                      council tax
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <hr class="hr-margin">
        </fieldset>
        <div class="form-item-wrapper">
          <div class="form-group">
            <a href="/where-you-live/app-progress" class="button">Next</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}