<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
How do you pay your Council Tax? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <fieldset>
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Where you live</span>
            How do you pay your Council Tax?
          </h1>
        </legend>
        <div class="form-groups">           
          <div class="multiple-choice">
            <input id="country-england" type="radio" value="yes" name="ct">
            <label for="country-england">
              Over 10 months
            </label>
          </div>
          <div class="multiple-choice">
            <input id="country-wales" type="radio" value="no" name="ct">
            <label for="country-wales">
              Over 12 months
            </label>
          </div>
          <div class="option-text">
            or
          </div>
          <div class="multiple-choice">
            <input id="country-scotland" type="radio" value="not-yet" name="ct">
            <label for="country-scotland">
              I know my yearly amount
            </label>
          </div>
        </div>
      </fieldset>
      <details style="margin-top:20px;">
        <summary><span class="summary">I pay an irregular amount or a different amount each week</span></summary>
        <div class="panel panel-border-narrow">
          <p>If you pay an irregular amount or a different amount each week, you'll need to tell us the amount of Council Tax you pay for the full year.</p>

          <p>You can find this on your latest Council Tax bill or by contacting your local council.</p>
            
          <p>Select 'I know my yearly amount' to enter this.</p>
        </div>
       </details>
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="/where-you-live/council-tax-amount" class="button">Next</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
