<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
As part of your Universal Credit award, do you get extra payments for any of these? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <form action="uc-award" method="get" class="form">
      <fieldset class="inline">
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Benefits</span>
            As part of your Universal Credit award, do you get extra payments for any of these?
          </h1>
        </legend>
        <ul class="list list-bullet">
          <li>Responsibility for a child or young person who lives with you</li>
          <li>Limited capability for work (LCW)</li>
          <li>Limited capability for work and work related activity (LCWRA)</li>
        </ul>
        <div class="multiple-choice">
          <input id="yes" type="radio" name="ucextra" value="yes">
          <label for="yes">
            Yes
          </label>
        </div>
        <div class="multiple-choice">
          <input id="no" type="radio" name="ucextra" value="no">
          <label for="no">
            No
          </label>
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}