<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  Any other benefits - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <form action="otherbenefits-handler" method="get" class="form">
      <fieldset class="inline">
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Income and other money</span>
            Any other benefits
          </h1>
        </legend>
        <p>Do you get any of these other benefits?</p>
        <ul class="list-bullet">
          <li>Pension Credit</li>
          <li>Child Benefit</li>
          <li>Housing Benefit</li>
          <li>Council Tax Benefit</li>
        </ul>
        <div class="form-groups">           
          <div class="multiple-choice">
            <input id="country-england" type="radio" value="yes" name="otherbenefits">
            <label for="country-england">
              Yes
            </label>
          </div>
          <div class="multiple-choice">
            <input id="country-wales" type="radio" value="no" name="otherbenefits">
            <label for="country-wales">
              No
            </label>
          </div>
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <a class="button" href="/benefits/other-income/carers-other" id="next-button">Next</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
