<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
Jobs you've told us about - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <form action="anotherjob-handler" method="get" class="form">
      <fieldset class="inline">
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Wages from a job</span>
            Jobs you've told us about
          </h1>
        </legend>
        <h2 class="heading-medium">Jobs</h2>
        <div id="income-jobs-recall">
          <div id="income-jobs-0-recall">
            <div class="grid-row">
              <div class="column-one-third">
                <span class="tally-column">job title</span>
              </div>
              <div class="column-one-third">Paid every calendar month</div>
              <div class="column-one-third">
                <span>
                  <a href="job-title/1">
                    Change<span class="visuallyhidden"> your 'job title' job details</span>
                  </a>
                </span>
              </div>
            </div>
            <hr class="recall">
          </div>
        </div>
        <h2 class="heading-medium">Do you have another job?</h2>
        <div class="multiple-choice">
          <input id="yes" type="radio" name="anotherjob" value="yes">
          <label for="yes">
            Yes
          </label>
        </div>
        <div class="multiple-choice">
          <input id="no" type="radio" name="anotherjob" value="no">
          <label for="no">
            No
          </label>
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" />
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
