<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
Have you started your 'job title' job in the last 3 months? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <form action="wagesstart-handler" method="get" class="form">
      <fieldset class="inline">
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Wages from a job</span>
            Have you started your 'job title' job in the last 3 months?
          </h1>
        </legend>
        <div class="multiple-choice">
          <input id="yes" type="radio" name="jobtime" value="yes">
          <label for="yes">
            Yes
          </label>
        </div>
        
        <div class="multiple-choice">
          <input id="no" type="radio" name="jobtime" value="no">
          <label for="no">
            No
          </label>
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
