<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
What is your job title? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <fieldset class="inline">
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Wages from a job</span>
            What is your job title?
          </h1>
        </legend>
        <div class="form-group">
          <label for="beneficiary-name-last" id="label-name-last" class="visually-hidden">
            What is your job title?
          </label>
          <input class="form-control" type="text" id="beneficiary-name-last" value="">
        </div>
      </fieldset>
      <div class="form-group" style="margin-top:20px;">
        <a class="button" href="/wages/job-time">Next</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
