<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  Which country do you live in? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Your application</h1>
    <p>You can't send the application until you've completed all the sections.</p>
    <div id="check-eligibility-section">
      <h2 class="heading-medium">1. Check before you start</h2>
      <div class="section-row" id="check-eligibility-task">
        <div>
          <a id="check-eligibility" href="/before-you-start/check-your-answers">
          Check eligibility</a>
        </div>
        <div id="check-eligibility-completed" class="progress-box task-completed">
          <strong>Completed</strong>
        </div>
      </div>
    </div>
    <div id="main-about-you-section">
      <h2 class="heading-medium">2. About you</h2>
      <p>To work out what help you can get, we need information about your housing costs and income.</p>
      <div class="section-row" id="main-personal-details-task">
        <div>
          <a id="main-personal-details" href="/personal-details/who-is-applying">
            Personal details
          </a>
        </div>
        <div id="main-personal-details-incomplete" class="progress-box task-incomplete">
          <strong>To do</strong>
        </div>
      </div>
      <div class="section-row" id="contact-details-task">
        <div>
          Contact details
        </div>
        <div id="contact-details-incomplete" class="progress-box task-cant-start">
          <strong>Can't start yet</strong>
        </div>
      </div>
    </div>
    <div id="main-income-and-other-money-section">
      <h2 class="heading-medium">3. About your income</h2>
      <div class="section-row" id="main-other-income-task">
        <div>
          Money from somewhere else
        </div>
        <div id="main-other-income-incomplete" class="progress-box task-cant-start">
          <strong>Can't start yet</strong>
        </div>
      </div>
    </div>
    <div id="about-your-home-section">
      <h2 class="heading-medium">4. About your home</h2>
      <div class="section-row" id="where-you-live-task">
        <div>
          Where you live
        </div>
        <div id="where-you-live-incomplete" class="progress-box task-cant-start">
          <strong>Can't start yet</strong>
        </div>
      </div>
      <div class="section-row" id="people-who-live-with-you-task">
        <div>
          People who live with you
        </div>
        <div id="people-who-live-with-you-incomplete" class="progress-box task-cant-start">
          <strong>Can't start yet</strong>
        </div>
      </div>
    </div>
    <div id="submit-application-section">
      <h2 class="heading-medium">5. Submit application</h2>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" disabled="disabled">
        </div>
      </div>
    </div>
  </div>
</div>
    
      
    
         
      
{% endblock %}
