<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  What is the name of the council that helps to pay for your care home? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="form-group">
      <form action="/before-you-start/check-your-answers" method="get" class="form">  
        <label for="household-councilname">
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Before you start</span>
            What is the name of the council that helps to pay for your care home?
          </h1>
        </label>
        <input id="household-councilname" class="form-control" type="text" value="" />
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" type="submit" value="Next" id="next-button" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
