<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
Do you get financial support from any of these? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large" id="question-heading">
      <span class="heading-secondary">Before you start</span>
      Do you get financial support from any of these?
    </h1>
    <form action="/before-you-start/financial-support" method="get" class="form">
      <fieldset>
        <legend tabindex="-1" class="visuallyhidden">
          Do you get financial support from any of these?
        </legend>
        <div class="block-form-groups">           
          <div class="multiple-choice" style="margin-bottom:20px; display:block">
            <input id="household-asylumdecision-waiting" type="radio" value="full" name="fulleducation">
            <label for="household-asylumdecision-waiting">
              Full-time education
            </label>
          </div>
        </div>
        <div class="block-form-groups"> 
          <div class="multiple-choice" style="margin-bottom:20px; display:block;">
            <input id="household-asylumdecision-allowed" type="radio" value="part" name="fulleducation">
            <label for="household-asylumdecision-allowed">
              Part-time education
            </label>
          </div>
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
