<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  Do you live with your parents, relatives or friends in their home? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large" id="question-heading">
      <span class="heading-secondary">Before you start</span>
      Do you live with your parents, relatives or friends in their home?
    </h1>
    <form action="livewith-handler" method="get" class="form">
      <fieldset  class="inline">
        <legend tabindex="-1" class="visuallyhidden">Do you live with your parents, relatives or friends in their home?</legend>
        <div class="block-form-groups">           
          <div class="multiple-choice">
            <input id="yes" type="radio" value="yes" name="livewith">
            <label for="yes">
              Yes
            </label>
          </div>
        </div>
        <div class="block-form-groups"> 
          <div class="multiple-choice">
            <input id="no" type="radio" value="part" name="livewith">
            <label for="no">
              No
            </label>
          </div>
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
