<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  What you need - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row"> 
  <div class="column-two-thirds">
    <h1 class="heading-large" id="question-heading">
      <span class="heading-secondary">Before you start</span>
      What you'll need
    </h1>
    <p>We'll ask for information about:</p>
    <ul class="list list-bullet">
      <li>income - how much you (or your partner) get from any jobs, pensions or benefits</li>
      <li>housing costs - what you (or your partner) pay for things like Council Tax and rent</li>
    </ul>

    <p>If you or your partner get them, we may ask you to send us copies of:</p>
    <ul class="list list-bullet">
      <li>your payslips</li>
      <li>your latest Working Tax Credit award notice</li>
      <li>your latest Universal Credit award notice</li>
    </ul>

    <details class="noprint mb" role="group">
      <summary role="button" aria-controls="reveal-1" aria-expanded="false">
        <span class="summary">
          Documents that could help
        </span>
      </summary>
      <div class="panel panel-border-narrow" id="reveal-1" aria-hidden="true">
        <p>You may need:</p>
        <ul class="list list-bullet">
          <li>rent or mortgage statements</li>
          <li>latest Council Tax bill or Council Tax benefit letter</li>
          <li>pension details</li>
          <li>latest statement of benefits or award notice</li>
          <li>savings, investments and property details</li>
        </ul>
      </div>
    </details>

    <div class="noprint notice form-group">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">It's important you know this information before you start. You can't save your application and come back to it later.</strong>
    </div>
    <div class="form-item-wrapper">
    <div class="form-group">
      <a href="/before-you-start/country" class="button" id="next-button">Next</a>
    </div>
  </div>
  </div>
</div>
{% endblock %}
