<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
What are you studying at Northumbria University? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <form action="/education-and-training/check-your-answers-education-training-details" method="get" class="form">
            <fieldset class="inline">
                <legend>
                    <h1 class="heading-large" id="question-heading">
                        <span class="heading-secondary">Education and training</span>
                        Are you in the final year or only year of your course?
                    </h1>
                </legend>
                <div class="form-group">
                    <div>
                    </div>
                    <fieldset class="inline">
                        <legend tabindex="-1" class="visuallyhidden">
                            <span>
                                Are you in the final year or only year of your course?
                            </span>
                        </legend>
                        <div class="multiple-choice">
                            <input data-target="beneficiary-education-infinaloronlyyear-true-nested"
                                id="beneficiary-education-infinaloronlyyear-true" type="radio" value="true">
                            <label id="label-radio-yes-true" for="beneficiary-education-infinaloronlyyear-true">
                                Yes
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input data-target="beneficiary-education-infinaloronlyyear-false-nested"
                                id="beneficiary-education-infinaloronlyyear-false" type="radio" value="false">
                            <label id="label-radio-no-false" for="beneficiary-education-infinaloronlyyear-false">
                                No
                            </label>
                        </div>
                    </fieldset>
                </div>
            </fieldset>
            <div class="form-item-wrapper">
                <div class="form-group">
                    <input class="button" type="submit" value="Next" id="next-button" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}