<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
What are you studying at Northumbria University? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <form>
            <fieldset class="inline">
                <legend>
                    <h1 class="heading-large" id="question-heading">
                        <span class="heading-secondary">Education and training</span>
                        What are you studying at Northumbria University?
                    </h1>
                </legend>
                <div class="form-hint">
                    Type in the full name of the course.
                </div>
                <div class="form-hint">
                    For example: B.Sc in Mathematics
                </div>
                <div class="form-group">
                    <label for="beneficiary-education-nameofcourse" class="visuallyhidden">
                        Name of course being studied
                    </label>
                    <div>
                        <input id="beneficiary-education-nameofcourse" class="form-control" type="text" value="">
                    </div>
                </div>           
            </fieldset>

            <div class="form-group">
                <a href="/education-and-training/overseas-student" class="button" id="next-button">Next</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}