<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Do you get money from any of these? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <span class="form-hint form-group-margin" id="question-hint">
            Apply for help with NHS costs
        </span>
        <h1 class="heading-large">
            Check your answers
        </h1>
        <h2 class="heading-medium">
            Money from somewhere else
        </h2>
        <div class="grid-row">
            <div class="column-one-third">
                <h2 class="heading-small">
                    How you’re paying for things
                </h2>
            </div>
            <div class="column-answer column-one-third section">
                <span class="visuallyhidden">Answer</span>
                <div>
                    <div>
                        <div class="form-answer">
                            <span id="household-otherincomesources-friends-family">
                                Money from friends or family
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="form-answer">
                            <span id="household-otherincomesources-savings">
                                Savings
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="form-answer">
                            <span id="household-otherincomesources-donations">
                                Donations from charity or voluntary organisations
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-change column-one-third section">
                <div class="group">
                    <span class="change">
                        <a href="/other-income/how-paying-for-things">Change
                            <span class="visuallyhidden">
                                how you’re paying for things
                            </span></a>
                    </span>
                </div>
            </div>
        </div>
        <hr class="hr-margin">
        <!-- answer to check -->
        <div class="grid-row">
            <div class="column-one-third">
                <h2 class="heading-small">
                    How much you spend each week from savings
                </h2>
            </div>
            <div class="column-answer column-one-third section">
                <span class="visuallyhidden">Answer</span>
                <div>
                    <span id="household-savings-payment-amount">
                        £<span>146.20</span>
                    </span>
                </div>
            </div>
            <div class="column-change column-one-third section">
                <div class="group">
                    <span class="change">
                        <a href="/other-income/amount-from-savings">Change
                            <span class="visuallyhidden">
                                how much you spend each week from savings
                            </span></a>
                    </span>
                </div>
            </div>
        </div>
        <hr class="hr-margin">
        <!-- answer to check -->
        <div class="grid-row">
            <div class="column-one-third">
                <h2 class="heading-small">
                    How much you get each week from friends or relatives
                </h2>
            </div>
            <div class="column-answer column-one-third section">
                <span class="visuallyhidden">Answer</span>
                <div>
                    <span id="household-friendsandfamily-payment-amount">
                        £<span>146.20</span>
                    </span>
                </div>
            </div>
            <div class="column-change column-one-third section">
                <div class="group">
                    <span class="change">
                        <a href="/other-income/amount-from-friends-relatives">Change
                            <span class="visuallyhidden">
                                how much you get each week from friends or relatives
                            </span></a>
                    </span>
                </div>
            </div>
        </div>
        <hr class="hr-margin">
        <!-- answer to check -->
        <div class="grid-row">
            <div class="column-one-third">
                <h2 class="heading-small">
                    How much you get each week in donations
                </h2>
            </div>
            <div class="column-answer column-one-third section">
                <span class="visuallyhidden">Answer</span>
                <div>
                    <span id="household-donations-payment-amount">
                        £<span>146.20</span>
                    </span>
                </div>
            </div>
            <div class="column-change column-one-third section">
                <div class="group">
                    <span class="change">
                        <a href="/other-income/amount-from-donations">Change
                            <span class="visuallyhidden">
                                how much you get each week in donations
                            </span></a>
                    </span>
                </div>
            </div>
            <hr class="hr-margin">
        </div>
        <div class="form-item-wrapper">
            <div class="form-group">
                <a href="/other-income/amount-from-friends-relatives" class="button" id="next-button">Next</a>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}