<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  What is your name? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <form action="/personal-details/dob" method="get" class="form">
      <fieldset>
        <legend>
          <h1 class="heading-large" id="question-heading">
            <span class="heading-secondary">Personal details</span>
            What is your name?
          </h1>
        </legend>
        <div class="form-group">
          <label for="beneficiary-name-first" id="label-name-first" class="form-label">First name</label>  
          <input class="form-control" type="text" id="beneficiary-name-first" value="">
        </div>
        
        <div class="form-group">
          <label for="beneficiary-name-middle" id="label-name-middle" class="form-label">
            Middle name (optional)
          </label>
          <input class="form-control" type="text" id="beneficiary-name-middle" value="">
        </div>
        <div class="form-group">
          <label for="beneficiary-name-last" id="label-name-last" class="form-label">
            Last name
          </label>
          <input class="form-control" type="text" id="beneficiary-name-last" value="">
        </div>
      </fieldset>
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next" id="next-button" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
