<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
<!-- {% block beforeContent %}
  
{% endblock %} -->

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <form method="post" class="form" action="/check-for-help-paying-nhs-costs/start">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">LIS training pages</h1>
  
      <p>This site is a replica of the LIS online service for training purposes.</p>
      <p>The different journeys that users can take has not been replicated, but you can see every page that exists in the LIS service.</p>

      <h2 class="heading-medium">Sections</h2>
      <!-- got up to financial support for students & benefits for non students -->
      <details>
        <summary><span class="summary">Before you start</span></summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li><a href="/before-you-start/apply-online">Apply online</a></li>
            <li><a href="/before-you-start/kickout/apply-offline">Apply offline</a></li>
            <li><a href="/before-you-start/apply-online">What you'll need</a></li>
            <li><a href="/before-you-start/country">Which country do you live in?</a></li>
            <li><a href="/before-you-start/kickout/ni-kickout">NI kickout</a></li>
            <li><a href="/before-you-start/kickout/cant-yet">You can't apply online yet</a></li>
          </ul>

          <h2 class="heading-medium">Care home</h2>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/care-home">Do you live permanently in a care home?</a></li>
            <li><a href="/before-you-start/council-help-pay">Do you get help to pay for your care home from your local council?</a></li>
            <li><a href="/before-you-start/council-name">What is the name of the council that helps to pay for your care home?</a></li>
            <li><a href="/before-you-start/kickout/council-kickout">Council kickout</a></li>
          </ul>
          <h2 class="heading-medium">Partner</h2>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/partner">Do you live with a partner?</a></li>
          </ul>
            
          <h2 class="heading-medium">Claimed asylum</h2>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/claimed-asylum">Have you claimed asylum to stay in the UK?</a></li>
            <li><a href="/before-you-start/asylum-decision">What was the decision of your asylum application?</a></li>
            <li><a href="/before-you-start/visa-support">Do you get support from UK Visas and Immigration (UKVI)?</a></li>
          </ul>

          <h2 class="heading-medium">Education</h2>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/education-or-training">Are you in education or training?</a></li>
            <li><a href="/before-you-start/full-education">Are you in full-time or part-time education?</a></li>
            <li><a href="/before-you-start/financial-support">Do you get financial support from any of these?</a></li>
            <li><a href="/before-you-start/live-with">Do you live with your parents, relatives or friends in their home?</a></li>
          </ul>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/check-your-answers">Check your answers</a></li>
          </ul>
        </div>
      
      </details>
      
      <!-- <ul class="list list-bullet">
        <li><a href="">Before you start</a></li>
        <li><a href="#">Personal details</a></li>
        <li><a href="#">Contact details</a></li>
        <li><a href="#">Money from somewhere else</a></li>
        <li><a href="#">Where you live</a></li>
        <li><a href="#">People who live with you</a></li>
      </ul> -->

    </div>
  </form>
</div>
{% endblock %}
