<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
<!-- {% block beforeContent %}
  
{% endblock %} -->

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <form method="post" class="form" action="/check-for-help-paying-nhs-costs/start">
    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">LIS training pages</h1>
      </div>
      <p>This site is a replica of the LIS online service for training purposes.</p>
      <p>Some of the complexity or functionality available in the online service might be missing from this site.</p>

      <h2 class="heading-medium">Sections</h2>
      <ul class="list list-bullet">
        <li><a href="#">Before you start</a></li>
        <li><a href="#">Personal details</a></li>
        <li><a href="#">Contact details</a></li>
        <li><a href="#">Money from somewhere else</a></li>
        <li><a href="#">Where you live</a></li>
        <li><a href="#">People who live with you</a></li>
      </ul>

     <h2 class="heading-medium">Full journey</h2>



      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button button-get-started" type="submit" value="Start" id="next-button" />
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
