<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
<!-- {% block beforeContent %}
  
{% endblock %} -->

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <form method="post" class="form" action="/check-for-help-paying-nhs-costs/start">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">LIS training pages</h1>
  
      <p>This site is a replica of the LIS online service for training purposes.</p>
      <p>The different journeys that users can take have not been replicated to 100% accuracy.</p>
      <p>You can start the journey by going to the <a href="/before-you-start/apply-online">Apply online</a> page.</p>

      <h2 class="heading-medium">Check eligibility</h2>
      <!-- Before you start -->
      <details>
        <summary><span class="summary">Before you start</span></summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li><a href="/before-you-start/apply-online">Apply online</a></li>
            <li><a href="/before-you-start/kickout/apply-offline">Apply offline</a></li>
            <li><a href="/before-you-start/apply-online">What you'll need</a></li>
            <li><a href="/before-you-start/country">Which country do you live in?</a></li>
            <li><a href="/before-you-start/kickout/ni-kickout">NI kickout</a></li>
            <li><a href="/before-you-start/kickout/cant-yet">You can't apply online yet</a></li>
            <li><a href="/before-you-start/benefits">Do you get money from any of these?</a></li>
            <li><a href="/before-you-start/more-than-6000">Do you have more than £6,000 in savings, investments or property?</a></li>
            <li><a href="/before-you-start/check-your-answers">Check your answers</a></li>
            <li><a href="/before-you-start/application-progress">Application progress</a></li>
          </ul>

          <h3 class="heading-medium">Care home</h3>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/care-home">Do you live permanently in a care home?</a></li>
            <li><a href="/before-you-start/council-help-pay">Do you get help to pay for your care home from your local council?</a></li>
            <li><a href="/before-you-start/council-name">What is the name of the council that helps to pay for your care home?</a></li>
            <li><a href="/before-you-start/kickout/council-kickout">Council kickout</a></li>
          </ul>
          <h2 class="heading-medium">Partner</h2>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/partner">Do you live with a partner?</a></li>
          </ul>
            
          <h3 class="heading-medium">Claimed asylum</h3>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/claimed-asylum">Have you claimed asylum to stay in the UK?</a></li>
            <li><a href="/before-you-start/asylum-decision">What was the decision of your asylum application?</a></li>
            <li><a href="/before-you-start/visa-support">Do you get support from UK Visas and Immigration (UKVI)?</a></li>
            <li><a href="/before-you-start/full-exemption-asylum-decision">You get help with NHS costs and don't need to apply</a></li>
          </ul>

          <h3 class="heading-medium">Education</h3>
          <ul class="list list-bullet">
            <li><a href="/before-you-start/education-or-training">Are you in education or training?</a></li>
            <li><a href="/before-you-start/full-education">Are you in full-time or part-time education?</a></li>
            <li><a href="/before-you-start/financial-support">Do you get financial support from any of these?</a></li>
            <li><a href="/before-you-start/live-with">Do you live with your parents, relatives or friends in their home?</a></li>
          </ul>
          
        </div>
      </details>
      <h2 class="heading-medium">About the users</h2>
      <!-- Personal details -->
      <details>
        <summary><span class="summary">Personal details</span></summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li><a href="/personal-details/who-is-applying">When can I apply for someone else?</a></li>
            <li><a href="/personal-details/name">What is your name?</a></li>
            <li><a href="/personal-details/dob">What is your date of birth?</a></li>
            <li><a href="/personal-details/address">What is your address?</a></li>
            <li><a href="/personal-details/nhs-number">Do you know your NHS Number?</a></li>
            <li><a href="/personal-details/sight">Are you severely sight impaired or registered blind?</a></li>
          </ul>
        </div>
      </details>

      <details>
        <summary><span class="summary">Contact details</span></summary>
        <div class="panel panel-border-narrow">
          <ul class="list list-bullet">
            <li><a href="/contact-details/tel-no">What is your telephone number?</a></li>
            <li><a href="/contact-details/email">What is your email address?</a></li>
          </ul>
        </div>
      </details>
    </div>
  </form>
</div>
{% endblock %}
