<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
<!-- {% block beforeContent %}
  
{% endblock %} -->

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
  <form method="post" class="form" action="/check-for-help-paying-nhs-costs/start">
    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">Check what help you could get to pay for NHS costs</h1>
      </div>
      <p class="intro-to-list">Although most NHS treatment is free, there is usually a charge for:</p>
      <ul class="list list-bullet">
        <li>NHS prescriptions</li>
        <li>NHS dental check-ups and treatment</li>
        <li>sight tests</li>
        <li>new glasses or contact lenses</li>
        <li>repairing or replacing glasses or contact lenses</li>
        <li>NHS wigs</li>
        <li>NHS fabric supports – things like surgical bras, support tights and spinal supports</li>
        <li>travel for NHS treatment</li>
      </ul>

      <p>You could be entitled to help with these costs depending on your circumstances.</p>

      <div class="panel panel-border-narrow">
        <p class="heading-small">It should take about 3 minutes to check.</p>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button button-get-started" type="submit" value="Start" id="next-button" />
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
