<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Do you get money from any of these? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <span class="form-hint form-group-margin" id="question-hint">
            Where you live
        </span>
        <h1 class="heading-large">
            Are you in hospital and have been for over a year?
        </h1>
        <div class="form-group">
            <fieldset class="inline">
                <legend tabindex="-1" class="visuallyhidden">
                    <span>
                        Are you in hospital and have been for over a year?
                    </span>
                </legend>
                <div class="multiple-choice">
                    <input data-target="household-longhospitalstay-true-nested" id="household-longhospitalstay-true"
                        type="radio" value="true" name="household.longHospitalStay">
                    <label id="label-radio-yes-true" for="household-longhospitalstay-true">
                        Yes
                    </label>
                </div>
                <div class="multiple-choice">
                    <input data-target="household-longhospitalstay-false-nested" id="household-longhospitalstay-false"
                        type="radio" value="false" name="household.longHospitalStay">
                    <label id="label-radio-no-false" for="household-longhospitalstay-false">
                        No
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="form-item-wrapper">
            <div class="form-group">
                <a href="/about-your-home/type-of-property" class="button" id="next-button">Next</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}