<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Do you get money from any of these? - LIS training - NHSBSA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <span class="form-hint form-group-margin" id="question-hint">
                Where you live
            </span>
            <h1 class="heading-large">
                Which type of property do you live in?
            </h1>
            <div class="form-group">
                <fieldset>
                    <legend tabindex="-1" class="visuallyhidden">
                        <span>
                            Which type of property do you live in?
                        </span>
                    </legend>
                    <div class="inline-form-groups">
                        <div class="multiple-choice">
                            <input data-target="household-propertytype-someone-else-nested"
                                id="household-propertytype-someone-else" type="radio" value="SOMEONE_ELSE"
                                name="household.propertyType">
                            <label for="household-propertytype-someone-else">
                                <strong>In someone else's home</strong>
                                <p class="hint-paragraph">If you live with your parents, friends or relatives in their
                                    home.</p>
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input data-target="household-propertytype-rented-nested" id="household-propertytype-rented"
                                type="radio" value="RENTED" name="household.propertyType">
                            <label for="household-propertytype-rented">
                                <strong>A property or room I rent</strong>
                                <p class="hint-paragraph">This is where you have a tenancy agreement. It includes
                                    student accommodation or rent paid to a council or landlord.</p>
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input data-target="household-propertytype-own-property-nested"
                                id="household-propertytype-own-property" type="radio" value="OWN_PROPERTY"
                                name="household.propertyType">
                            <label for="household-propertytype-own-property">
                                <strong>A property I own</strong>
                                <p class="hint-paragraph">This could be with or without a mortgage.</p>
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input data-target="household-propertytype-shared-property-nested"
                                id="household-propertytype-shared-property" type="radio" value="SHARED_PROPERTY"
                                name="household.propertyType">
                            <label for="household-propertytype-shared-property">
                                <strong>A shared ownership property</strong>
                                <p class="hint-paragraph">This is where you pay mortgage and rent.</p>
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input data-target="household-propertytype-no-permanent-nested"
                                id="household-propertytype-no-permanent" type="radio" value="NO_PERMANENT"
                                name="household.propertyType">
                            <label for="household-propertytype-no-permanent">
                                <strong>I do not have a permanent address</strong>
                                <p class="hint-paragraph">This could be because you're homeless or live in a shelter or
                                    hostel.</p>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-item-wrapper">
                <div class="form-group">
                    <a href="/about-your-home/type-of-property" class="button" id="next-button">Next</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}